<header class="flex flex-row items-center justify-between">
  <app-blog-header></app-blog-header>
  <nav class="flex flex-row items-start justify-center">
    <ul class="flex flex-row items-start justify-start space-x-5">
      <li class="text-2xl font-medium">
        <a routerLink="/blog-list" routerLinkActive="active" class=""
          >Blog list</a
        >
      </li>
      <li class="text-2xl font-medium">
        <a routerLink="/create-the-blog" routerLinkActive="active"
          >Create the blog</a
        >
      </li>
      <li class="text-2xl font-medium">
        <a routerLink="/album" routerLinkActive="active">Album</a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
